/* Geral  */
body {
    background-color: #363434;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Config do details */
details {
    background-color: #1b1a1a;
    color: #fff;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.3 ease;
    border: 2px solid #ffffff1d;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

details[open] {
    background-color: #1b1a1a;
    border-radius: 7px;
}

summary {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Titulo da página */
.titulo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.titulo h1 {
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
}

.logout {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.btnLogout {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    transition: all 0.3s ease;
}

.btnLogout:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

/* Config do botao */
#botfixo {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    display: flex;             
    justify-content: center;  
    align-items: center;       
    padding: 0;       
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#botfixo:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Config do dialog */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

dialog {
    width: 400px;
    border-radius: 5px;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

dialog h2 {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

dialog input {
    background-color: #dfdfdf;
    color: #000000;
    border: none;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
}

dialog label {
    text-align: center;
    font-size: 20px;
}

dialog .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
}

form {
    box-shadow: 0px 4px 16px rgb(0 0 0 / .3);
}

dialog .confirmar {
    font: 400 1rem;
    cursor: pointer;
    width: 100%;
    color: #fff;
    border: none;
    background: #007BFF;
    padding: 10px 0;
    border-radius: 8px;
    transition: .3s;
}

dialog .confirmar:hover {
    background: #0056b3;
}

dialog .button-center {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.btnFechar {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.7;
    margin-top: 10px;
    margin-right: 10px;
}

.btnFechar:hover {
    background-color: white;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.task-text {
    font-size: 16px;
    line-height: 1;
}

.item button {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    padding: 0;           
    background: transparent; 
    cursor: pointer;
    flex-shrink: 0;
}

.item .deletar:hover {
    color: #ff1818;
    transform: scale(1.1);
}

.item .finalizar:hover {
    color: #56ff18;
    transform: scale(1.1);
}

.item .iniciar:hover {
    color: #007BFF;
    transform: scale(1.1);
}

/* SnackBars */
#snackbar {
    visibility: hidden; /* Invisível */
    min-width: 250px;   /* Largura mínima */
    background-color: #333; /* Cor padrão */
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1000;      /* Fica acima de tudo */
    left: 50%;
    bottom: 30px;       /* Distância do fundo */
    transform: translateX(-50%); /* Centraliza exato no meio */
    font-size: 16px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

/* Classe para MOSTRAR o snackbar */
#snackbar.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px; /* Pequeno efeito de subida */
}

/* Cores dinâmicas */
#snackbar.sucesso {
    background-color: #28a745; /* Verde */
}

#snackbar.erro {
    background-color: #dc3545; /* Vermelho */
}

#snackbar.aviso {
    background-color: #ffc107; /* Amarelo */
    color: #333;
}